
    <div id="address-container">
        <div style="margin-top: 0.5em; margin-left: 1em;margin-right: 1em;line-height: 1.3em;margin-bottom: 0.5em;">
            <span id="address-tittle">YOUR CURRENT ADDRESS:</span><br>
            <span id="address-label">...</span>

        </div>
    </div>
    <div id="canvas-container">
        <div id="geolocation"></div>
        <div class="ui-el" id="user-marker"></div>
        <div class="ui-el locate-btn" id="not-locating">
            <div class="ion-android-locate btn-icon" data-pack="android" ></div>
        </div>
        <div class="locate-btn" id="locating" style="display: none">
            <div class="ion-android-locate btn-icon" data-pack="android" ></div>
        </div>
        <div class="ui-el zoom-btn" id="in-zoom">
            <div class="ion-plus-round btn-icon" data-pack="default" style="left: 0.1em;"></div>
        </div>
        <div class="ui-el zoom-btn" id="out-zoom">
            <div class="ion-minus-round btn-icon" data-pack="default" style="left: 0.1em;"></div>
        </div>

    </div>
