<ion-view title="Recover Password" style="background-image: url('img/screen.jpg'); background-position-x:50%; background-repeat: no-repeat; background-size: fixed;">

    <ion-header-bar class="bar-secondary bar-dark" id="subtitle">
        <h1 class="title">Recover Password</h1>
        <button class="button button-small button-assertive" ng-click="closeNewTask()">Cancel</button>
    </ion-header-bar>

    <ion-content class="padding has-header">
        <form name="recoverpass_form">
            <div class="item item-input-inset"> 
                <!-- ********************************************************** -->
                <!-- Email -->
                <!-- ********************************************************** -->
                <label class="item-input-wrapper">
                    <input 
                        name="u_email"
                        type="email"
                        ng-model="user.email" 
                        placeholder="Email"
                        ng-maxlength=40 
                    >
                </label>

                <div class="error" ng-show="recoverpass_form.u_email.$dirty && recoverpass_form.u_email.$invalid">
                    <small class="error" ng-show="recoverpass_form.u_email.$error.email" style="color: red;">
                        Invalid email.
                    </small>
      
                    <small class="error" ng-show="recoverpass_form.u_email.$error.maxlength" style="color: red;">
                        Must have less than 20 characters.
                    </small>
                </div>

                <!-- ********************************************************** -->
                <!-- Button Recover -->
                <!-- ********************************************************** -->
                <button class="button button-calm" ng-click="Recoverpass()" type="submit">
                    Send
                </button>
            </div>
        </form>
    </ion-content>
</ion-view>

        

